<div class="row">
	<div class="small-4 columns"><h1>New State</h1></div>
</div>

<div class="row"><%= render 'form' %></div>
<br>
<div class="row">
	<div class="small-4 columns">
		<%= link_to 'Back', states_path %>
	</div>
</div>